
*{
    cursor: auto;
    color: azure;
    font-family: Consolas;
}


body {
    background-color: rgb(80, 80, 80);
    font-family: Bahnschrift;
    text-align: center;
}


#überschrift {
    background-color: rgb(196, 193, 193);
}


#überschrift img {
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 0px;
    padding: 10px;
}


#überschrift img:hover {
    transform: rotate(20deg);
    transition: .2s ease-in;

}


h1 {
    color: rgb(252, 252, 252);
    font-size: 40px;
}


h1:hover {
    transition: all .2s ease-in; 
    color: rgb(0, 0, 0);
    font-size: 51px;
    text-decoration: underline;
}


h3 {
    color: white;
    font-size: 26px;
}


h3:hover {
    color: black;
    transition: .5s ease-in;
    text-decoration: underline;
}


#navigator a {
    font-size: 25px;
    text-decoration: none;
    padding: 12px;
    text-shadow: 0 0 10px rgba(208, 231, 220, 0.781);
    border: 2px solid rgba(0, 0, 0, 0.829);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 50px;
}


#navigator a:hover {
    transition: .2s ease-in;
    text-decoration: underline;
}


#Navigator b {
    font-size: 24px;
}


#footer a {
    text-decoration: none;
}


#infos img {
   text-align: center;

}

/* handy anpassung mit Jquery stuff */
@media only screen and (max-width: 600px) {
    #navigator a {
        font-size: 9px;
        
    }
}

